.big-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.container {
    display: flex;
    gap: 10px;
}

.inner-container{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 5px;
}
